{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }} Comments{% endblock %}

{% block body %}
    <section>
     <div class="container">
        <div class="row">
    {{ include('user/usermenu.html.twig') }}
            <div class="blog-post-area">
                <h2 class="title text-center">User Comments List</h2>
                <div class="single-blog-post">
                    <div class="post-meta">


                        <h1>Comment index</h1>

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Comment</th>
                                <th>Book</th>
                                <th>Created_at</th>
                                <th>Rate</th>
                                <th>status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for comment in comments %}
                                <tr>
                                    <td>{{ comment.subject }}</td>
                                    <td>{{ comment.comment }}</td>
                                    <td><a href="{{ path('book_show_a', {'id': comment.bookid}) }}">{{ comment.title}}</td>
                                    <td>{{ comment.created_at}}</td>
                                    <td>{{ comment.rate }}</td>
                                    <td>
                                        {{ comment.status }}
                                    </td>
                                    <td><a href="" class="btn btn-danger">Delete </a>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="10">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>




                </div>
            </div>
            </div></div></div></section>

{% endblock %}
